@keyframes twirl {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

.a-letter-1 {
	width: 100%;
	height: 100%;
	position: relative;
	animation-name: twirl;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: 50% 50%;
}

@keyframes swirl {
    0% {transform: rotate(360deg);}
    100% {transform: rotate(0deg);}
}

.a-letter-2 {
    width: 100%;
    height: 100%;
    position: relative;
    animation-name: swirl;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: 50% 50%;
}

.jumbotron-fluid {
    height: 100vh;
    margin-bottom: 0px;
    background-color: #17252A;
    padding: 0px;
}

.main-page{
  padding-top: 0px;
  background-color: #17252A;
}

.col-6{
  background-color: #17252A;
}

/* .btn {
  color: #2B7A78;
  background-color: #FEFFFF;
} */
.btn-main{
  margin: 50px;
  padding: 20px;
  background-color: #2B7A78;
  border-color: #2B7A78;
  font-family: 'Nunito', sans-serif;
  color: #FEFFFF;
  border-radius:0;
  font-weight: 600;
  font-size: 2rem;
}

body{
  /* background-color: #17252A; */
}

h2 {
    color: #DEF2F1;
    font-family: 'Nunito', sans-serif;
}

svg:not(:root) {
    width: 15%;
}
